*.db
*.db-shm
*.db-wal
.DS_Store
bin/
dist/
preempt
.idea/
.vscode/
*.swp
*.swo
*~
.env
.env.local
preempt
/vendor
server
model_dew_point_2m.pkl
model_precipitation.pkl
model_relative_humidity_2m.pkl
model_wind_speed_10m.pkl
model_temperature_2m.pkl
weather_collector
api_server