*.db
*.db-shm
*.db-wal
.DS_Store
bin/
dist/
.idea/
.vscode/
*.swp
*.swo
*~
.env
.env.local
/vendor
dump.rdb

# Ignore binaries in root directory
/collect
/store
/detect
/server

# Ignore ML model files
model_dew_point_2m.pkl
model_precipitation.pkl
model_relative_humidity_2m.pkl
model_wind_speed_10m.pkl
model_temperature_2m.pkl