*.db
*.db-shm
*.db-wal
.DS_Store
bin/
dist/
.idea/
.vscode/
*.swp
*.swo
*~
.env
.env.local
/vendor
dump.rdb

# Ignore binaries in root directory
/collect
/store
/detect
/server

# Ignore ML model files
/ml_models