.App {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #186691;
}

section {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  padding: 20px;
  border: 1px solid #263ba7;
  border-radius: 8px;
  text-align: center;
}

h1 {
  text-align: center;
  color: #7554a3;
}

h2 {
  color: #7a67bc;
  text-align: center;
}

button {
  background-color: #5387c0;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input, select {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

pre {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
  overflow-x: auto;
}
